In [2]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('C:/Users/ibn abbas/Desktop/New folder/recommender/movies_recommendation_system/movies.csv')

In [4]:
import re

In [5]:
def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]"," ", title)

In [6]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [7]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devil s Island 1962

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
vectorizer = TfidfVectorizer(ngram_range = (1,2))

In [10]:
# turnig the set of title into a matrix
tfidf = vectorizer.fit_transform(movies["clean_title"])

In [11]:
tfidf

<62423x168482 sparse matrix of type '<class 'numpy.float64'>'
	with 448766 stored elements in Compressed Sparse Row format>

creating the search function

In [12]:
from sklearn.metrics.pairwise import cosine_similarity 
import numpy as np
def search(title):
    title = clean_title(title)
    #changing the title set to vector matrix
    query_vec = vectorizer.transform([title])
    #finding the similarity to comapare the query of term from each of the title
    similarity = cosine_similarity(query_vec,tfidf).flatten()
    # find the title with the highest similarity
    indices = np.argpartition(similarity,-5)[-5:]
    #index the title
    result = movies.iloc[indices][::1]
    return result

building an interactive search engine using Jupyter

In [13]:
import ipywidgets as widgets
from IPython.display import display
#creating the input widget
movie_input = widgets.Text(
    value = "Toy story",
    description = "movie Title",
    disabled = False
)
movie_output_list = widgets.Output()
movie_input
#call this function when anything is type
def on_type(data):
    with movie_output_list:
        movie_output_list.clear_output()
        title= data["new"]
        if len(title) > 5:
            display(search(title))
# run on_type function if there is any change in the i nput
#hooking the input function with on_type
movie_input.observe(on_type, names="value")
display(movie_input,  movie_output_list)

Text(value='Toy story', description='movie Title')

Output()

Creating the recommendation system

In [14]:
rating = pd.read_csv("C:/Users/ibn abbas/Desktop/New folder/recommender/movies_recommendation_system/ratings.csv")

In [15]:
rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [16]:
rating
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [17]:
#Finding all the user that like the movies we like

In [18]:
movie_Id = 1

In [28]:
same_movies = rating[(rating["movieId"] == movie_Id) & (rating["rating"] > 4)]["userId"].unique()

In [29]:
same_movies

array([    36,     75,     86, ..., 162527, 162530, 162533], dtype=int64)

Other moves like by the users that like the same movies we like

In [30]:
same_movies_recs = rating[(rating["userId"].isin(same_movies)) & (rating["rating"] > 4)]["movieId"]

In [22]:
same_movies_recs

5101           1
5105          34
5111         110
5114         150
5127         260
            ...
24998388    3706
24998389    3735
24998391    3763
24998392    4187
24998393    4321
Name: movieId, Length: 678648, dtype: int64

In [24]:
# getting the movies rated by only 10% of users that like the same movies as us
same_movies_rec = same_movies_recs.count()/len(same_movies)
same_movies_rec= same_movies[same_movies_rec > .1]

In [39]:
same_movies_rec
same_movies_recs.count

<bound method Series.count of 5101            1
5105           34
5111          110
5114          150
5127          260
            ...
24998854    60069
24998861    67997
24998876    78499
24998884    81591
24998888    88129
Name: movieId, Length: 1358326, dtype: int64>

array([[    36,     75,     86, ..., 162518, 162519, 162530]], dtype=int64)

finding how much movies the users like in our dataset set 
finding all the users that actually the movies recommened to a user like

In [42]:
#find all users that like the movie a user like
all_users = rating[(rating["movieId"].isin(same_movies_rec)) & (rating["rating"] > 4)]

In [43]:
all_users

          userId  movieId  rating   timestamp
20             1     2843     4.5  1147868891
41             1     6711     5.0  1147868622
48             1     7361     5.0  1147880055
54             1     7940     4.5  1147877967
56             1     8154     5.0  1147868865
...          ...      ...     ...         ...
24999895  162540    60069     5.0  1248861563
24999935  162541      541     5.0  1240952537
24999959  162541     1198     4.5  1240953444
25000070  162541     6440     4.5  1240951746
25000081  162541     7361     4.5  1240953484

[478213 rows x 4 columns]

In [45]:
#find the percentage of all users that recommended this movies
all_users_record =  all_users["movieId"].count()/len(all_users["userId"].unique())

In [47]:
all_users_record.dtype

dtype('float64')

 Creating a recommendation score

In [53]:
record_percentage = pd.concat([same_movies_recs,all_users_record], axis=1)

TypeError: cannot concatenate object of type '<class 'numpy.float64'>'; only Series and DataFrame objs are valid